<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="delegate">
            <h2><span>Delegate</span> {{ delegate.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Delegate Id</span></dt>
                <dd>
                    <span>{{ delegate.delegateId }}</span>
                </dd>
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ delegate.name }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/delegate', delegate.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
